<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-icon name="menu"></ion-icon>
<swiper-container
[loop]="false"
[pagination]="true"
[slidesPerView]="1"
>

<swiper-slide>
  <h1 class="red-title">TuApp</h1>
  <p>¡Bienvenido a TuApp! La aplicación definitiva para simplificar y potenciar tus tiempos. Descubre una forma inteligente, fácil y segura de manejar tu día a día...</p>
  <img src="https://www.shutterstock.com/shutterstock/photos/734949031/display_1500/stock-vector-flat-design-style-web-banner-for-education-knowledge-certificate-training-courses-vector-734949031.jpg"> 
  <p></p>    
</swiper-slide>

<swiper-slide> 
  <p></p>
  <img src="https://www.shutterstock.com/shutterstock/photos/1570677724/display_1500/stock-vector-online-internet-web-signature-concept-vector-flat-cartoon-graphic-design-illustration-1570677724.jpg"> 
  <p>2</p>

  <ion-pane>
    <ion-header-bar class=”bar-positive”>
      <button class=”button-button-clear-button-positive-icon-icon-left-ion-social”> Atrás</button>
    <h3 class=”title”></h3>
  </ion-header-bar>
</ion-pane>

</swiper-slide>

<swiper-slide> 
  <p>Empecemos a ordenar tu día</p>
  <img src="https://www.shutterstock.com/shutterstock/photos/1155504661/display_1500/stock-vector-the-concept-that-downsized-people-are-making-huge-books-flat-design-style-vector-graphic-1155504661.jpg"> 
  <p>3</p>

  <ion-pane>
    <ion-header-bar class=”bar-positive”>
      <button class=”button-button-calm”> Atrás</button>
    <h3 class=”title”></h3>
  </ion-header-bar>
  </ion-pane>

</swiper-slide>

<swiper-slide> 
  <p>Empecemos a ordenar tu día</p>
  <img src="https://www.shutterstock.com/shutterstock/photos/1518750908/display_1500/stock-vector-concept-of-human-resources-recruitment-filling-resumes-hiring-employees-people-fill-out-the-1518750908.jpg"> 
  <p>4</p>

  <ion-pane>
    <ion-header-bar class=”bar-positive”>
      <button class=”button-button-calm”> Atrás</button>
    <h4 class=”title”></h4>
  </ion-header-bar>
  </ion-pane>

</swiper-slide>

<swiper-slide> 
  <p>Empecemos a ordenar tu día</p>
  <img src="https://www.shutterstock.com/shutterstock/photos/1570677724/display_1500/stock-vector-online-internet-web-signature-concept-vector-flat-cartoon-graphic-design-illustration-1570677724.jpg"> 
  <p>5</p>

  <ion-pane>
    <ion-header-bar class=”bar-positive”>
      <button class=”button-button-calm”> Atrás</button>
    <h5 class=”title”></h5>
  </ion-header-bar>
  </ion-pane>

</swiper-slide>

<swiper-slide> 
  <p>Empecemos a ordenar tu día</p>
  <img src="https://www.shutterstock.com/shutterstock/photos/1570677724/display_1500/stock-vector-online-internet-web-signature-concept-vector-flat-cartoon-graphic-design-illustration-1570677724.jpg"> 
  <p>6</p>

  <ion-pane>
    <ion-header-bar class=”bar-positive”>
      <button class=”button-button-calm”> Atrás</button>
    <h6 class=”title”></h6>
  </ion-header-bar>
  </ion-pane>

</swiper-slide>

</swiper-container>
</ion-content>
